## Scilkit-Learn Project 1-Analysing Ad Budgets for different media channels

In [1]:
import numpy as np
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression 
from sklearn.decomposition import PCA
from sklearn.datasets import make_blobs
from sklearn.cluster import KMeans
from sklearn.neighbors import KNeighborsClassifier

In [2]:
# import data set
df_adv_data=pd.read_csv(r"C:\Users\welcome\Desktop\Jupyter\Scikit-Learn\Advertising Budget and Sales.csv",index_col=0)
df_adv_data

     TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1               230.1                 37.8                     69.2       22.1
2                44.5                 39.3                     45.1       10.4
3                17.2                 45.9                     69.3        9.3
4               151.5                 41.3                     58.5       18.5
5               180.8                 10.8                     58.4       12.9
..                ...                  ...                      ...        ...
196              38.2                  3.7                     13.8        7.6
197              94.2                  4.9                      8.1        9.7
198             177.0                  9.3                      6.4       12.8
199             283.6                 42.0                     66.2       25.5
200             232.1                  8.6                      8.7       13.4

[200 rows x 4 columns]

In [3]:
#view data set size
df_adv_data.shape#view data set

(200, 4)

In [4]:
#view top 5 records
df_adv_data.head()

   TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)  Sales ($)
1             230.1                 37.8                     69.2       22.1
2              44.5                 39.3                     45.1       10.4
3              17.2                 45.9                     69.3        9.3
4             151.5                 41.3                     58.5       18.5
5             180.8                 10.8                     58.4       12.9

In [5]:
#view the column of the dataset
df_adv_data.columns

Index(['TV Ad Budget ($)', 'Radio Ad Budget ($)', 'Newspaper Ad Budget ($)',
       'Sales ($)'],
      dtype='object')

In [6]:
# create feature object from  the columns
X_feature=df_adv_data[['TV Ad Budget ($)','Radio Ad Budget ($)','Newspaper Ad Budget ($)']]

In [7]:
# view feature object
X_feature.head(n=10)

    TV Ad Budget ($)  Radio Ad Budget ($)  Newspaper Ad Budget ($)
1              230.1                 37.8                     69.2
2               44.5                 39.3                     45.1
3               17.2                 45.9                     69.3
4              151.5                 41.3                     58.5
5              180.8                 10.8                     58.4
6                8.7                 48.9                     75.0
7               57.5                 32.8                     23.5
8              120.2                 19.6                     11.6
9                8.6                  2.1                      1.0
10             199.8                  2.6                     21.2

In [8]:
# view feature object shape
X_feature.shape

(200, 3)

In [9]:
# create target object from  the sales columns
Y_target=df_adv_data[['Sales ($)']]

In [10]:
Y_target.head(n=10)

    Sales ($)
1        22.1
2        10.4
3         9.3
4        18.5
5        12.9
6         7.2
7        11.8
8        13.2
9         4.8
10       10.6

In [11]:
# view target object shape
Y_target.shape

(200, 1)

In [12]:
#split test & training Data
#by default 75% traing data & 25% testing data
from sklearn.model_selection import train_test_split 
x_train,x_test,y_train,y_test=train_test_split(X_feature,Y_target,random_state=1)

In [13]:
#view shape of train and test datasets for both feature & reaponse
print (x_train.shape)
print (x_test.shape)
print (y_train.shape)
print (y_test.shape)

(150, 3)
(50, 3)
(150, 1)
(50, 1)

In [14]:
#linear Regression Model- the estimator
from sklearn.linear_model import LinearRegression
lineReg = LinearRegression()
lineReg.fit(x_test,y_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [15]:
# print the intercept & coeeficient
print(lineReg.intercept_)
print(lineReg.coef_)

[3.19267259]
[[ 0.04236211  0.2154831  -0.00904617]]

In [16]:
# prediction
y_pred=lineReg.predict(x_test)
y_pred

array([[22.46952584],
       [16.29041329],
       [ 7.4814608 ],
       [17.04532593],
       [18.26258006],
       [23.65799984],
       [16.44112829],
       [12.65066271],
       [ 9.26208333],
       [16.8818122 ],
       [14.23604754],
       [10.37598905],
       [17.42322641],
       [17.67915114],
       [14.01388911],
       [15.75245942],
       [12.42365364],
       [16.31392496],
       [12.59685412],
       [18.39099037],
       [ 9.48189956],
       [12.92024205],
       [ 9.40217821],
       [10.66052294],
       [11.37557829],
       [14.84235557],
       [10.45435776],
       [19.3647993 ],
       [19.27639585],
       [16.75522473],
       [22.13053635],
       [13.09211407],
       [17.1512012 ],
       [11.76504612],
       [20.0393721 ],
       [15.35155539],
       [13.22814263],
       [ 9.61943775],
       [21.59042952],
       [ 8.2003954 ],
       [ 3.60222759],
       [ 6.87698083],
       [ 6.38050923],
       [18.51204876],
       [ 9.18247989],
       [14.4098751 ],
       [16.2779057 ],
       [20.68546828],
       [21.41788725],
       [19.20365453]])

In [19]:
 # Import require liabraries for calculating MSE(mean square error)
from sklearn import metrics
import numpy as np

In [25]:
# Calcuate mean square error 
print (np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.2602321528531686

### THE END